<div *ngIf="game">
    <h3>Game {{ game.id | uppercase }}</h3>
    <button *ngIf="!game.startDate" (click)="startGame()" class="btn btn-primary" [disabled]="game.players.length < 2">Start game</button>
    <button *ngIf="game.startDate && !game.endDate" (click)="endGame()" class="btn btn-primary">End game</button>
    <div>
        <h4>Players (2-5)</h4>
        <ul>
            <li *ngFor="let player of game.players">{{ player.name }}<br />Points: {{ player.points }}</li>
        </ul>
        <div *ngIf="!game.startDate">
            <input [(ngModel)]="playerName" (keyup.enter)="addPlayer()" type="text">
            <button (click)="addPlayer()" class="btn btn-primary" [disabled]="!playerName">Add player</button>
        </div>
    </div>
    <div *ngIf="game.currentPlayerTurn && !game.endDate">
        <h4>{{ game.currentPlayerTurn.player.name }}'s turn</h4>
        <div>Points: {{ game.currentPlayerTurn.points }}</div>
        <button *ngIf="!game.currentPlayerTurn.card" (click)="drawCard()" class="btn btn-primary">Draw card</button>
        <div *ngIf="game.currentPlayerTurn.card?.name">
            {{ game.currentPlayerTurn.card.displayName || game.currentPlayerTurn.card.name }} card active
        </div>
        <button *ngIf="game.currentPlayerTurn.card?.name" (click)="rollDice()" class="btn btn-primary">Roll dice</button>
        <div *ngIf="game.currentPlayerTurn.lastDiceRoll">
            <div>
                <div>Rolled dice</div>
                <button *ngFor="let dice of game.currentPlayerTurn.lastDiceRoll.dice; let i=index" (click)="pickDice(i)" class="btn btn-primary">{{ dice.facingUp }}</button>
            </div>
            <div>
                <div>Picked dice</div>
                <button *ngFor="let dice of game.currentPlayerTurn.lastDiceRoll.picked; let i=index" (click)="returnDice(i)" class="btn btn-primary">{{ dice.facingUp }}</button>
            </div>
        </div>
        <div>
            <div>Current dice</div>
            <button *ngFor="let dice of game.currentPlayerTurn.pickedDice; let i=index" class="btn btn-secondary">{{ dice.facingUp }}</button>
        </div>
        <button *ngIf="game.currentPlayerTurn.card" (click)="endTurn()" class="btn btn-primary">End turn</button>
    </div>
    <div style="white-space: pre">
        {{ game | json }}
    </div>
</div>
